body {
  font: 13px helvetica, arial, freesans, clean, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #777;
}

a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #375eab;
}

header {
  width: 80%;
  background-color: #E0EBF5;
  padding: 15px 10%;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 22px;
  line-height: 22px;
}

nav ul {
  display: flex;
  height: 22px;
  line-height: 22px;
}

nav ul li {
  margin-left: 15px;
}

footer {
  width: 80%;
  background-color: #f3f3f3;
  padding: 15px 10%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

footer p {
  margin: 1em 0px;
}

.gophers {
  max-width: 1410px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gophers .gopher {
  width: 300px;
  padding: 15px 0px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #cacaca;
}

.gophers .gopher p {
  margin: 5px;
}

.gophers .gopher a.image {
  height: 250px;
  width: 250px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cacaca;
  border-radius: 3px;
}

.gophers .gopher a:hover.image {
  border: 1px solid #375eab;
}


.gophers .gopher p {
  text-align: center;
}

.gophers img {
  max-width: 100%;
  max-height: 100%;
}
