<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="stylesheet" href="/css/reset.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/css/app.css" type="text/css" charset="utf-8">
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  </head>
  <body lang="en">
    <header>
      <h1>Gopher Gallery</h1>
      <nav>
        <ul>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="https://github.com/ernesto-jimenez/gopherdex">Github</a></li>
        </ul>
      </nav>
    </header>
